@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-header">
        Venta
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="mb-2">
                    <label for="exampleInputEmail1" class="form-label">Número Documento</label>
                    <input type="text" class="form-control" id="txtNumeroDocumento">
                </div>

            </div>
            <div class="col-sm-4">
                <div class="mb-2">
                    <label for="exampleInputEmail1" class="form-label">Razón Social</label>
                    <input type="text" class="form-control" id="txtRazonSocial">
                </div>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-sm-3">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">

            </div>

        </div>
    </div>
</div>